---
layout: default
---

<!-- This loops through the paginated posts and events -->
{% for item in paginator.posts %}
  {% if item.category == 'event' %}
    <h2><a href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a></h2>
    {{item.content}}
    <div class='keyline-all round pad2 col12 clearfix'>
      <div class='col8 pad0y'>
        Join us: <span class='quiet'>{{item.date | date:"%A, %b %d %Y"}}</span>
      </div>
      <div class='col4'>
        <a class='button fill-orange block' href='{{item.rsvp}}'>RSVP</a>
      </div>
    </div>
  {% else %}
    <h2><a href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a></h2>
    {{item.content}}
    <div class='pad1y keyline-top'>
      <strong class='quiet small block space-bottom1'>Posted {{item.date | date:"%b %d %Y"}} {% if item.author %}by {{item.author}}{% endif %}</strong>
    </div>
  {% endif %}
{% endfor %}

<!-- Pagination links -->
<div class='col12 center small strong space pad2y'>
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href='{{site.baseurl}}/' class='button fill-blue icon left-arrow'>Newer</a>
    {% else %}
      <a href='{{site.baseurl}}/page{{ paginator.previous_page }}' class='button fill-blue icon left-arrow'>Newer</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href='{{site.baseurl}}/page{{ paginator.next_page }}' class='button fill-blue rcon right-arrow'>Older</a>
  {% endif %}
</div>

