{% case page.title %}
{% when 'Home' %}
	<div class='center'>
	  <div class='row12'>
	    <div class='pin-bottom space-bottom4'>
	      <h1>Time for making maps!</h1>
	      <h3 class='col8 margin2'>Our mission is to open the doors of cartographic possibility to anyone interested by creating a time and space for collaborative learning, exploration, and mapmaking using mapping tools and technologies.</h3>
	    </div>
	  </div>      
	</div>
{% when 'Chapters' %}
	<div id='map'></div>
{% when 'Resources' %}
	<div class='center'>
	  <div class='row8'>
	    <div class='pin-bottom space-bottom4'>
	      <h1>Learn</h1>
	      <h3 class='col8 margin2'>Getting started? Dive in here. Looking for tutorials? We got 'em. Look here for guides to get started in all things geo.</h3>
	    </div>
	  </div>      
	</div>
{% when 'About' %}
	<div class='center'>
	  <div class='row8'>
	    <div class='pin-bottom space-bottom4'>
	      <h1>What is Maptime?</h1>
	      <h3 class='col8 margin2'></h3>
	    </div>
	  </div>      
	</div>
{% when 'Contact' %}
	<div class='center'>
	  <div class='row10'>
	    <div class='pin-bottom space-bottom4'>
	      <h1>Find us!</h1>
	      <h3 class='col8 margin2'>There are many people involved in Maptime activities around the world and a dedicated crew who make sure everyone has the resources to keep Maptime going. Feel free to reach out and contact us!</h3>
	    </div>
	  </div>      
	</div>
{% else %}
	<div class='center'>
	  <div class='row12'>
	    <div class='pin-bottom space-bottom4'>
	      <h1>Time for making maps!</h1>
	      <h3 class='col8 margin2'>Our mission is to open the doors of cartographic possibility to anyone interested by creating a time and space for collaborative learning, exploration, and map creation using mapping tools and technologies.</h3>
	    </div>
	  </div>      
	</div>
{% endcase %}
