<!DOCTYPE html >
<html>
<head>
  <meta charset='UTF-8'/>
  <meta name="viewport" content="width=device-width">
  <meta name='twitter:site' content='@{{ site.maptime.twitter }}' />
  <meta property='og:site_name' content='{{ site.maptime.chapter }}' />
  <meta name='twitter:url' content='{{ page.permalink }}' />
  <meta property='og:url' content='{{ page.permalink }}' />
  <meta name='twitter:title' content='{{ page.title | replace:"'","&lsquo;" }}' />
  <meta property='og:title' content='{{ page.title | replace:"'","&lsquo;" }}' />
  <meta name='twitter:description' content='{{ page.description | replace:"'","&lsquo;" }}' />
  <meta property='og:description' content='{{ page.description | replace:"'","&lsquo;" }}' />
  {% if page.image %}
    <meta name='twitter:image' content='{{page.image | replace:"https:","http:"}}' />
    <meta name='st:image' content='{{page.image | replace:"https:","http:"}}' />
    <meta property='og:image' content='{{page.image | replace:"https:","http:"}}' />
    <meta name='twitter:card' content='summary_large_image' />
    <meta property='og:type' content='website' />
  {% endif %}
  <title>{% if page.url == '/' %}{{site.maptime.chapter}}{% else %}{{site.maptime.chapter}} | {{page.title}}{% endif %}</title>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='{{site.baseurl}}/css/site.css' type='text/css'/>
  {% for stylesheet in page.css %}
  <link rel="stylesheet" href="{{site.baseurl}}/css/{{ stylesheet }}">
  {% endfor %}
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.png' type='image/x-icon' />
</head>
