---
layout: default
title: Chapters
description: "Once Maptime got started in San Francisco, it wasn't long before cites all over the world started to get involved. Here are all of the Maptime chapters that exist so far, along with the team that puts them together."

css:
 - chapters.css

js:
 - chapters.js
---
<a href='{{site.baseurl}}/' class='sprite maptime pin-left'>Maptime</a>

<p>Once Maptime got started in San Francisco, it wasn't long before cites all over the world started to get involved. Here are all of the Maptime chapters that exist so far, along with the team that puts them together.</p>

{% for chapter in site.data.chapters.features %}

<div class='chapter keyline-top'>
	<h2>
	{% if chapter.properties.meetup %}
		<a href="{{ chapter.properties.meetup }}">{{chapter.properties.title}}</a>
	  {% else %} {{chapter.properties.title}}
	{% endif %}
	 <a href="http://twitter.com/{{ chapter.properties.twitter }}"><img src="/img/twitter-icon.png"/></a>
	{% if chapter.properties.facebook %}
		<a href="{{ chapter.properties.facebook }}"><img src="/img/facebook-icon.png"/></a>
	{% endif %}
	{% if chapter.properties.github %}
		<a href="{{ chapter.properties.github }}"><img src="/img/github-icon.png"/></a>
	{% endif %}
	{% if chapter.properties.meetup %}
		<a href="{{ chapter.properties.meetup }}"><img src="/img/meetup-icon.jpg"/></a>
	{% endif %}
	</h2>
	<p>{% if chapter.properties.comingSoon %}Coming soon!{% endif %}</p>
	{% if chapter.properties.organizers %}
	<p><strong>Organizer{% if chapter.properties.organizers.size > 1 %}s{% endif %}:</strong></p>
	{% endif %}
	<ul>
	  {% for organizer in chapter.properties.organizers %}
	    <li>{{ organizer.name }} {% if organizer.twitter %}&#40;<a href="http://twitter.com/{{ organizer.twitter }}">@{{ organizer.twitter }}</a>&#41;{% endif %}</li>
	  {% endfor %}
	</ul>
	{% endfor %}
</div>

<h2>Don't see your city? Want to start a chapter? Email us: <a href="mailto:hello@maptime.io">hello@maptime.io</a></h2>