#map {
    width: 80%;
    height: 500px;
    margin: 20px auto auto auto;

    }

.header {
    margin: auto auto auto auto;
    width: 100%;
    text-align:center;
    }
p{
    margin:30px 20px auto 20px;
        }
        
