---
---
{% include head.html %}

<body>
  {% include menu.html %}
  {% if page.title == 'About' %}
    <div class='main about col12 contain dark'>
  {% else %} 
    <div class='main col12 contain dark'>
  {% endif %}
    <a href='{{site.baseurl}}/' class='sprite maptime pin-left'>Maptime</a>
    {% include header.html %}

  </div>
  
  <div class='limiter pad4y'>
    <div class='col12 clearfix'>
      <aside class='col3 fr space-bottom2 sidebar'>
            {% if page.title == 'Chapters' %}
              <a href='{{site.baseurl}}/start/' class='col12 contain z1 fill-green button'>
                Start your own chapter!
            {% else %}
              <a href='{{site.baseurl}}/chapters' class='col12 contain z1 fill-green button'>Find the nearest Maptime
            {% endif %}
              </a>
        <a href='https://twitter.com/{{site.maptime.twitter}}/' class='col12 contain z1 fill-ltgreen button'>
          @{{site.maptime.twitter}} on Twitter
        </a>
        <div class='hide-mobile'>
          <div class='followers col12 contain z1 fill-navy button'>
              Maptimers on Github
          </div>
          <div class='center'>
            <div class='pad0y space-bottom2'>
              <a class='small' href='https://github.com/{{site.github_org}}/{{site.repo}}/watchers'>View all</a>
            </div>
          </div>
        </div>

        {% include events.html %}
      </aside>

      <div class='col8 margin2r prose content'>
        {{content}}
      </div>
    </div>
  </div>

  <footer class='fill-light pad2y'>
    <div class='limiter center small quiet'>
      <p>This website is <a href='http://github.com/{{site.github_org}}/{{site.repo}}/'>open source</a> and you can improve it. Learn more about contributing <a href='https://guides.github.com/activities/forking/'>here</a>.  In founding partnership with <a href="http://stamen.com">Stamen</a>.</p>
   </div>
  </footer>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src='{{site.baseurl}}/js/underscore.min.js'></script>
<script src='{{site.baseurl}}/site.js'></script>

{% for script in page.js %}
  <script src="{{site.baseurl}}/js/{{ script }}"></script>
{% endfor %}

</body>
</html>