---
---
{% include head.html %}

<body>
  <div class='main col12 contain dark'>
    <a href='{{site.baseurl}}/' class='sprite maptime pin-left'>Maptime</a>

    <!-- tabbed menu -->
    {% include menu.html %}
    <!-- end tabbed menu -->

    <div class='center'>
      <div class='row12'>
        <div class='pin-bottom space-bottom4'>
          <h1>time for mapmaking</h1>
          <h3 class='col8 margin2'>Our mission is to open the doors of cartographic possibility to anyone interested by creating a time and space for collaborative learning, exploration, and map creation using mapping tools and technologies.</h3>
        </div>
      </div>      
    </div>
  </div>
  
  <div class='limiter pad4y'>
    <div class='col12 clearfix'>
      <aside class='col3 fr space-bottom2 sidebar'>
        
          <div class='fill-orange strong dark round pad2 space-bottom2'>
          <h3>The next {{site.maptime.chapter}} is:</h3>
          <div id='rsvpdate'></div>
        </div>

        <div class='hide-mobile'>
          <div class='popup-group'>
            <a href='https://github.com/{{site.github_org}}/{{site.repo}}/' class='col12 space-bottom2 fill-green button'>Watch these events</a>
            <div class='popup popup-big keyline-all pad1 small round'>
              <ol class='space-bottom1'>
                <li>1. Click the <strong>Watch these events</strong> button.</li>
                <li>2. Login to GitHub or signup for an account.</li>
                <li>3. Click the <strong>Watch</strong> button on the repo.</li>
              </ol>
              <div class='center'>
                <img src='{{site.baseurl}}/img/watchrepo.png' alt='Watch repo' />
              </div>
            </div>
          </div>

          <div class='followers'></div>
          <div class='center'>
            <div class='pad0y space-bottom2'>
              <a class='small' href='https://github.com/{{site.github_org}}/{{site.repo}}/watchers'>View all</a>
            </div>
          </div>
        </div>
        <a href='https://twitter.com/{{site.maptime.twitter}}/' class='col12 contain z1 fill-green button'>
          @{{site.maptime.twitter}} on Twitter
        </a>
      </aside>

      <div class='col8 margin2r prose content'>
        {{content}}
      </div>
    </div>
  </div>

  <footer class='fill-light pad2y'>
    <div class='limiter center small quiet'>
      <p>This website is <a href='http://github.com/{{site.github_org}}/{{site.repo}}/'>open source</a> and you can improve it. Learn more about contributing <a href='https://guides.github.com/activities/forking/'>here</a>.</p>
   </div>
  </footer>
<script src='{{site.baseurl}}/js/jquery.min.js'></script>
<script src='{{site.baseurl}}/js/underscore.min.js'></script>
<script src='{{site.baseurl}}/site.js'></script>
<script>
  var rsvp = document.getElementById('rsvpdate');
  var date,formatted,link;
  '{% for item in site.categories.event limit:1 %}'
    date = '{{item.date | date:"%Y,%-m,%-d"}}';
    formatted = '{{item.date | date:"%A, %b %d %Y"}}';
    link = '{{item.rsvp}}';
  '{% endfor %}'

  if (date && new Date().getTime() <= new Date(date).getTime() + (24 * 60 * 60 * 1000)) {
    rsvp.innerHTML = '<h3>' + formatted + '</h3>' +
    '<a class="button fill-blue block" href=' + link + '>RSVP</a>';
  } else {
    rsvp.innerHTML = '<h3>TBA</h3>';
  }
</script>

{% for script in page.js %}
  <script src="{{site.baseurl}}/js/{{ script }}"></script>
{% endfor %}

</body>
</html>